#### Jupyter Shortcuts

1) Execute/Run the cell -> Shift + Enter<br>
2) Add a new cell on top of a cell -> A<br>
3) Add a new cell on below a cell -> B<br>
4) Delete a cell -> double D<br>
5) Undo delete -> Z<br>
6) Shortcuts -> H

# Heading 1

## Heading 2

### Heading 3

#### Heading 4

##### Heading 5

###### Heading 6

Text in normal size

#### Different IDEs for Python

IDE (Integerated Developmenet Environment)

1) Jupyter<br>
2) Google Colab<br>
3) VS Code<br>
4) PyCharm<br>
5) Spyder<br>
6) Pythhon IDLE<br>
7) Notepad<br>
8) Notepad ++<br>
9) Sublime<br>
10) Atom<br>
11) Thonny<br>
12) Eclipse<br>

#### Notes
1) () are called as parenthesis

### Comments
1) Meant for internal documentation<br>
2) They are not executed. Only meant explaination purpose<br>
3) Comments are written in Code cell starting with #<br>

### Variables
1) Reserved memory that stores data<br>
2) Variable is a container that can store any data. Data can be of any data types<br>
3) Can be reassigned and reinitialized<br>
4) Multiple variables can be created in the same line<br>

In [6]:
a = 10
print(a)

# 1) The value of 10 is stored in variable a
# 2) The value of 10 is assigned to variable a
# 3) The variable a has been initialized with the value of 10

10

In [7]:
a = 17
print(a)

17

In [8]:
print(a)

17

In [9]:
a1 = "Helo"
a2 = 56
print(a1)
print(a2)

Helo
56

In [10]:
b1, b2, b3 = "Welcome", 34, True
print(b1)
print(b2)
print(b3)

Welcome
34
True

In [11]:
print(b1,b2)

Welcome 34

### Rules of naming  a variable

1) Should start with A-Z, a-z or _(underscore)<br>
2) Should not start with numbers.<br>
3) Should not contain special characters.<br>
4) Should not contain space in between<br>
5) Python keywords should be avoided in variable name<br>

#### Valid variable names

In [1]:
Sales_mar = 3400
prof_2022 = 8.5
_course = "Python"
print(Sales_mar)
print(prof_2022)
print(_course)

3400
8.5
Python

In [2]:
23name = "Ankit"
print(23name)

SyntaxError: invalid syntax (<ipython-input-2-e056fbd66ff3>, line 1)

In [3]:
city@india = "Delhi"
print(city@india)

SyntaxError: cannot assign to operator (<ipython-input-3-8ad3240758b2>, line 1)

### Data Types

Data types are the differnt categories of data that we can store in a variable.<br>
Examples - int, float, bool, str, None etc

type() - type function returns the data type

In [5]:
v1 = 10
print(v1)
print(type(v1))

10
<class 'int'>

In [6]:
v2 = 23.45
print(v2)
print(type(v2))

23.45
<class 'float'>

In [7]:
v3 = False
print(v3)
print(type(v3))

False
<class 'bool'>

In [8]:
v4 = None
print(v4)
print(type(v4))

None
<class 'NoneType'>

#### Strings can be enclosed in single, double or triple quotes

In [9]:
v5 = "Welcome to Python"
print(v5)
print(type(v5))

Welcome to Python
<class 'str'>

In [10]:
v6 = 'Learning Python is fun'
print(v6)
print(type(v6))

Learning Python is fun
<class 'str'>

In [11]:
v7 = """Learning Python with 
hands on examples
"""
print(v7)
print(type(v7))

Learning Python with
hands on examples

<class 'str'>

In [19]:
r = 5e3
print(r)
type(r)

5000.0

float

### Operators
Entities using which we can perform mathematical operations

### 1) Arithmetic Operators

In [23]:
a,b = 5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b) # Power Operator
print(a//b) # Integer Division
print(a%b)  # Modulo Operator (returns remainder)

7
3
10
2.5
25
2
1

### 2) Assignment Operator

In [31]:
a,b = 2,5
print(a,b)
b += a   # (b = b+a) 
print('---------')
print(a,b)
b -= a   # (b = b-a)
print('---------')
print(a,b)
b *= a   # (b = b*a)
print('---------')
print(a,b)
b /= a   # (b = b/a)
print('---------')
print(a,b)

2 5
---------
2 7
---------
2 5
---------
2 10
---------
2 5.0

In [30]:
a,b = 2,5
print(a,b)
b **= a   # (b = b**a) 
print('---------')
print(a,b)
b //= a   # (b = b//a)
print('---------')
print(a,b)
b %= a   # (b = b%a)
print('---------')
print(a,b)

2 5
---------
2 25
---------
2 12
---------
2 0

### 3) Relational/Comparison Operator 
Returns True or False

In [32]:
a,b =  20,25
print(a>b)  # F
print(a<b)  # T
print(a>=b) # F
print(a<=b) # T
print(a!=b) # T
print(a==b) # F

False
True
False
True
True
False

### 4) Logical Operators

In [35]:
a,b,c = 10,15,20
print(a>b and c>b) #F
print(a<b and a>c) #F
print(a<b and b<c) #T
print(a>b or c>b)  #T
print(a>c or b>c)  #F

False
False
True
True
False

### 5) Membership Operators
Retunrs True or False

In [34]:
a = "Welcome to python Learning"
print("me" in a)
print('Python' in a)
print("n Le" in a)
print('very' in a)
print('hello' not in a)
print('the' not in a)

True
False
True
False
True
True

### end and sep arguments of print()

In [37]:
a = "Hello"
b = "World"
c = "Python"
print(a,b,c)
print(a,b,c,end=" Hi ")

Hello World Python
Hello World Python Hi

In [38]:
print(a,b,c,end=" ** ")

Hello World Python **

In [40]:
print(a,b,c)
print(a,b,c,sep=" ** ")
print(a,b,c,sep=" $$ ")

Hello World Python
Hello ** World ** Python
Hello $$ World $$ Python

In [41]:
print(a,b,c,sep=" $$ ",end=" Ends here")

Hello $$ World $$ Python Ends here

### Accepting input from the user

In [43]:
n= input()
print(n)
type(n)

Hello
Hello

str

In [44]:
m = input()
print(m)
type(m)

45
45

str

### Notes
1) The return type of input function is string (str).<br>
2)<b> Typecasting </b> - Changing from one data type to another is called typecasting.
    It ensures that data of only a specified data type can be accepted by the program
    and any other data type if entered by the user will throw an error.

In [46]:
text = input('Enter your name ')
print(text)
print(type(text))

Enter your name Harsh
Harsh
<class 'str'>

In [50]:
text = int(input('Enter a number '))
print(text)
print(type(text))

Enter a number 23
23
<class 'int'>

In [49]:
text = int(input('Enter a number '))
print(text)
print(type(text))

Enter a number Welcome

ValueError: invalid literal for int() with base 10: 'Welcome'

In [51]:
text = int(input('Enter a number '))
print(text)
print(type(text))

Enter a number 3.78

ValueError: invalid literal for int() with base 10: '3.78'

In [53]:
g = float(input('Enter a number '))
print(g)
print(type(float))

Enter a number 34.56
34.56
<class 'type'>

In [54]:
# float accpets iint as input but int cant accpe float as integer
g = float(input('Enter a number '))
print(g)
print(type(g))

Enter a number 38
38.0
<class 'float'>