### Datetime in Python

In [16]:
import datetime as dt

#### Today's date, year, month

In [19]:
today = dt.date.today() # YYYY-MM-DD
today_year = dt.date.today().year
today_date = dt.date.today().day
today_month = dt.date.today().month
print(today)
print(today_year)
print(today_date)
print(today_month)

2022-07-07
2022
7
7

#### datetime - year, month, day, hour, minute, second, microsecond

In [22]:
t1 = dt.datetime.today() # YYYY-MM-DD HH:MM:SS.ssssss
t2 = dt.datetime.today().year
t3 = dt.datetime.today().month
t4 = dt.datetime.today().day
t5 = dt.datetime.today().hour
t6 = dt.datetime.today().minute
t7 = dt.datetime.today().second
t8 = dt.datetime.today().microsecond
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)
print(t7)
print(t8)

2022-07-07 11:43:34.353686
2022
7
7
11
43
34
353686

### Custom date and time
datetime(year,month,day,hour,min,sec,ms)

In [23]:
req_date = dt.datetime(year=2021,month=3,day=23,hour=5,minute=30,
                       second=45,microsecond=32443)
print(req_date)
type(req_date)

2021-03-23 05:30:45.032443

datetime.datetime

In [24]:
a1 = dt.datetime(year=2019,month=11,day=18) # midnight 12
a2 = dt.datetime(year=2019,month=11,day=18,hour=6,minute=12)
print(a1)
print(a2)

2019-11-18 00:00:00
2019-11-18 06:12:00

In [29]:
# datetime(year,month,day,hour,min,sec,ms)
a = dt.datetime(2021,4,14,15,14,45)
b = dt.datetime(2021,4,28)
print(a)
print(b)

2021-04-14 15:14:45
2021-04-28 00:00:00

In [32]:
req_date = dt.date(year=2032,month=10,day=13)
start_date = dt.date(2010,3,2)
print(req_date)
print(start_date)
type(req_date)

2032-10-13
2010-03-02

datetime.date

In [37]:
r = dt.date(2022,7,10)
print(r)

2022-07-10

In [33]:
from datetime import time

In [35]:
req_time = time(hour=9,minute=30,second=36,microsecond=123456)
null_time = time() # midnight 12
print(req_time)
print(null_time)
type(req_time)

09:30:36.123456
00:00:00

datetime.time

#### Addition and Subtraction of date and time

In [38]:
from datetime import timedelta as td

#### What is the date and time 2 days, 3 hours, 15 minutes and 45 sec ahead from now?

In [40]:
curr_date_time = dt.datetime.today()
print(curr_date_time)

time_diff = td(days=2,hours=3,minutes=15,seconds=45)
print(time_diff)
# Add time diff to the current time
req_date_time = curr_date_time + time_diff

print(req_date_time)

2022-07-07 11:49:44.456981
2 days, 3:15:45
2022-07-09 15:05:29.456981

#### What is date and time 2 weeks, 4 days, 6 hrs, 27 mins and 45 sec from now?

In [42]:
curr_date_time = dt.datetime.today()
print(curr_date_time)

time_diff = td(weeks=2,days=4,hours=6,minutes=27,seconds=45)
print(time_diff)
# Add time diff to the current time
req_date_time = curr_date_time + time_diff

print(req_date_time)

2022-07-07 11:50:02.170701
18 days, 6:27:45
2022-07-25 18:17:47.170701

#### What is the date and time 1 week and 3 days before 2019 June 1, 9 AM?

In [44]:
base_date_time = dt.datetime(year=2019,month=6,day=1,hour=9)
print(base_date_time)

time_diff = td(weeks=-1,days=-3)
print(time_diff)
# Subtract time diff to the current time
req_date_time = base_date_time + time_diff

print(req_date_time)

2019-06-01 09:00:00
-10 days, 0:00:00
2019-05-22 09:00:00

In [46]:
base_date_time = dt.datetime(year=2019,month=6,day=1,hour=9)
print(base_date_time)

time_diff = td(weeks=1,days=3)
print(time_diff)
# Subtract time diff to the current time
req_date_time = base_date_time - time_diff

print(req_date_time)

2019-06-01 09:00:00
10 days, 0:00:00
2019-05-22 09:00:00

#### What is the date and time 2 weeks,4 days, 100 hrs, 27 mins and 45 sec from now?

In [47]:
curr_date_time = dt.datetime.today()
print(curr_date_time)

time_diff = td(weeks=2,days=4,hours=100,minutes=27,seconds=45)
print(time_diff)
# Add time diff to the current time
req_date_time = curr_date_time + time_diff

print(req_date_time)

2022-07-07 11:52:35.491937
22 days, 4:27:45
2022-07-29 16:20:20.491937

In [48]:
import datetime as dt

### Date Parsing formats
1) %Y - Year (in YYYY format) - eg 2021<br>
2) %y - Year (in YY format)  - eg - 21<br>
3) %B - Month(full name - March)<br>
4) %b - Month(three letters of the month- Mar)<br>
5) %A - Weekday full name (Thursday)<br>
6) %a - Weekday Short name (Thu)<br>
7) %d - Day of month(1-31)<br>
8) %w - weekday number (0-Sun, 6-Sat)<br>
9) %m - month(01-Jan, 12-Dec)<br>
10) %H - Hour<br>
11) %M - Minute<br>
12) %S - Second

### Changing date time formats

<b>strptime</b> - converts string to datetime format<br>
<b>strftime</b> - converts datetime to string format

In [50]:
import datetime as dt
from datetime import time
from datetime import timedelta as td

In [57]:
x = dt.datetime(2029,7,14,11,1,30,12345)  # 2021-07-14 11:01:30.012345
print(x,type(x))
# type(x)
print(x.strftime("%y-%d-%m %H:%M:%S"))
print(x.strftime("%Y %m %d %H:%M:%S"))
print(x.strftime("%Y %B %d %H:%M:%S"))
print(x.strftime("%d %b %Y %H:%M:%S"))
print(x.strftime("%Y/%m/%d %H:%M:%S"))
date_str = x.strftime("%y-%d-%m %A %H:%M:%S")
print(date_str)
type(date_str)

2029-07-14 11:01:30.012345 <class 'datetime.datetime'>
29-14-07 11:01:30
2029 07 14 11:01:30
2029 July 14 11:01:30
14 Jul 2029 11:01:30
2029/07/14 11:01:30
29-14-07 Saturday 11:01:30

str

In [61]:
x = dt.datetime(2018, 9, 15, 17, 45, 35)
print(x)
print('--------------')
print(x.strftime("%Y %m %d %H %M %S"))
print(x.strftime("%Y %d %b %H %M %S"))
print(x.strftime("%B %d %y %A %H %M %S"))
print(x.strftime("%b-%d-%Y %a %H:%M:%S"))
print(x.strftime("%B/%d/%Y %H-%M-%S"))
print(x.strftime("Year - %Y, Month - %B, Day - %d"))
print(dt.datetime(2021, 5, 22, 12, 45, 35).strftime("%y %d %m"))
type(dt.datetime(2021, 7, 11, 12, 45, 35).strftime("%y %d %m"))

2018-09-15 17:45:35
--------------
2018 09 15 17 45 35
2018 15 Sep 17 45 35
September 15 18 Saturday 17 45 35
Sep-15-2018 Sat 17:45:35
September/15/2018 17-45-35
Year - 2018, Month - September, Day - 15
21 22 05

str

In [67]:
s = "19 Nov 2015 18:45:00"
d1 = dt.datetime.strptime(s, "%d %b %Y %H:%M:%S")
print(d1)
type(d1)

2015-11-19 18:45:00

datetime.datetime

In [69]:
string = "Jan 1 2001 18:45:00"
d1 = dt.datetime.strptime(string, "%b %d %Y %H:%M:%S")
print(d1)
type(d1)

2001-01-01 18:45:00

datetime.datetime

In [71]:
string = "19 Nov 2015 18:45:00"
d1 = dt.datetime.strptime(string, "%d %Y %b %H:%M:%S")
print(d1)
type(d1)

ValueError: time data '19 Nov 2015 18:45:00' does not match format '%d %Y %b %H:%M:%S'

In [73]:
dt_string = "January 15 2045"

dt1 = dt.datetime.strptime(dt_string, "%A %b %d")
print(dt1)

ValueError: time data 'January 15 2045' does not match format '%A %b %d'

In [74]:
dt_string = "Aug 1 19"

dt1 = dt.datetime.strptime(dt_string, "%b %d %y")
print(dt1)

2019-08-01 00:00:00

In [75]:
dt_string = "2021 Mar 30"

dt1 = dt.datetime.strptime(dt_string, "%Y %b %d")
print(dt1)

2021-03-30 00:00:00

In [77]:
dt_string = "2021 Tue 3 30"

dt1 = dt.datetime.strptime(dt_string, "%Y %a %m %d")
print(dt1)
dt2 = dt1.strftime("%Y-%m-%d")
print(dt2)

2021-03-30 00:00:00
2021-03-30

#### Q) Accept year-month-day from user as user input, covert it to datetime format and then parse it in the format weekdayname, month_fullname, year

In [13]:
d = input('Enter date separated by - : ')
print(d)
r = dt.datetime.strptime(d, "%Y-%m-%d")
print(r)
res = r.strftime("%A %B %Y")
print(res)

Enter date separated by - : 2019-10-23
2019-10-23
2019-10-23 00:00:00
Wednesday October 2019