In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
data = {'age':[8,12,9,13,45,34,28,48,20,34,67,84,68,75,49,51,59,17,73,62,31,46,24,29]}
df = pd.DataFrame(data)
df.head()

   age
0    8
1   12
2    9
3   13
4   45